{
  "env": {
    "development": {
      "plugins": ["transform-class-properties", "transform-es2015-modules-commonjs"]
    },
    "test": {
      "plugins": ["transform-class-properties", "transform-es2015-modules-commonjs"]
    }
  }
}
