label > input {
  /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

label > input + .card {
  /* IMAGE STYLES */
  cursor: pointer;
  border: 2px solid transparent;
}

label > input:checked + .card {
  /* (RADIO CHECKED) IMAGE STYLES */
  border: 2px solid #f00;
}

.card {
  display: inline-block;
}

.option {
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 5px red solid;
  height: 250px;
  width: 100%;
  background-color: #f00;
}
