label {
  width: "355px";
  margin: 1%;
}

label > input {
  /* HIDE RADIO */
  position: absolute; /* Remove input from document flow */
}

label > input + .card {
  cursor: pointer;
}

label > input:hover + .card > .cardFrame > .cardTitle {
  /* IMAGE STYLES */
  text-decoration: underline;
}

label > input:checked + .card {
  /* (RADIO CHECKED) IMAGE STYLES */
  box-shadow: 0 0 3px 3px #303f9f;
}

.card {
  display: "inline-block";
  width: "350px";
  border-radius: 3px;
}

.option {
  margin: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  z-index: "1100";
  width: "100%";
}
