label {
  width: "355px";
  margin: 1%;
}

label > input {
  /* HIDE RADIO */
  position: absolute; /* Remove input from document flow */
}

label > input + .card {
  text-decoration: none;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

label > input:hover + .card {
  /* IMAGE STYLES */
  text-decoration: underline;
}

label > input:checked + .card {
  /* (RADIO CHECKED) IMAGE STYLES */
  box-shadow: 0 0 3px 3px #303f9f;
}

.button {
  margin-top: 25px;
  margin-left: 25px;
}

.card {
  display: "inline-block";
  border-radius: 3px;
}

.cardFrame {
  width: 350px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  z-index: "1100";
  width: "100%";
}

.option {
  margin: 10px;
}

.page {
  margin-top: 25px;
  margin-bottom: 25px;
}
